{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  <article>
    <header>
      <h2>{{ article.title }}</h2>
    </header>
    {{ article.content }}
    <footer>
      <p>Published: <time datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time></p>
      {% if article.modified %}
        <p>Last updated: <time datetime="{{ article.modified.isoformat() }}">
          {{ article.locale_modified }}
        </time></p>
      {% endif %}
    </footer>
  </article>
{% endblock %}
